@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Montserrat', sans-serif;
}

body {
	background: linear-gradient(134deg, #1A2980 0%, #26D0CE 100%);
}

.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 0px;
	padding-bottom: 32px;
}

h1 {
	color: #FFF;
	font-size: 42px;
	text-transform:capitalize;
	text-align: center;
	margin-bottom: 16px;
}

.search-box {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 16px;
	overflow: hidden;
	width: 100%;
	max-width: 480px;
	transition: 0.4s;
	margin-bottom: 16px;
}

.search-box input {
	display: block;
	appearance: none;
	outline: none;
	border: none;
	padding: 16px;
	width: 100%;
	transition: 0.4s;
}

.search-box:focus-within {
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
	transform: translateY(-5px)
}

.results {
	max-width: 768px;
	margin: 0 auto;
}

.result {
	width: 100%;
	padding: 16px;
	margin-bottom: 16px;
	background-color: #FFF;
	border-radius: 16px;
	transition: 0.4s;
}

.result:hover {
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.result h3 {
	color: #000;
	font-size: 28px;
	margin-bottom: 16px;
}

.result p {
	font-size: 18px;
	margin-bottom: 16px;
}

.result p::after {
	content: '...';
  color: #1E1E1E;
}

.result a {
	display: inline-block;
	padding: 12px 16px;
	background-color: #1A2980;
	color: #FFF;
	font-weight: 700;
	text-decoration: none;
	border-radius: 12px;
	transition: 0.4s;
}

.result a:hover {
	background-color: #26D0CE;
}